body {
    min-height: 115vh;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.templates {
    display: none;
}

#primary {
    width: 90%;
    max-width: 400px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: auto;
    border: 3px solid #1160eb;
    margin-top: 5%;
    background: #ece9d6;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    max-width: 450px;
    height: auto;
    min-height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 3px solid #1160eb;
    background: #ece9d6;
    z-index: 99;
}

.alert-button {
    padding: 2% 4%;
    margin: auto;
    font-size: 1.25em;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-image {
    width: 33%;
    margin-top: 5%;
    padding: 15px;
}

.modal-text {
    margin-top: 6%;
    padding: 15px;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 800;
}

.blue {
    color: #0e378e;
}

.blue-background {
    background: #0e378e;
}

.light-blue-background {
    background: #1160eb;
}

#login-graphic {
    /* width: 95%; */
    position: relative;
    margin: auto;
    margin-top: 2.5%;
    padding: 20px;
}

#login-graphic img {
    width: auto;
    display: block;
    margin: auto
}

.aim-header {
    display: flex;
    justify-content: flex-start;
    padding: 5px 15px;
    align-items: flex-end;
}

.aim-header img {
    max-height: 25px;
}

.aim-header h3 {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 20px!important;
    margin-left: 5px;
    line-height: 1;
}

#aim-body {
    padding: 3px 3% 2%;
}

ol, ul {
    margin-left: 0.1em;
}

hr {
    max-width: 95%;
    margin: 10px auto;
}

.bottom-section {
    padding: 0 2% 1%;
}

input[type="text"], input[type="password"] {
    width: 100%;
}

label {
    margin-top: 5px;
}

.center {
    text-align: center;
}

#version {
    margin-bottom: 5px;
}

.buttons {
    margin-top: 20px;
}

.buttons img {
    max-height: 40px;
    display: block;
    margin: auto;
}

.buttons p {
    margin: 0;
    text-align: center;
}

.underline {
    text-decoration: underline;
}

/***********
BUDDY LIST
************/

.buddy-list .tabs {
    list-style: none;
    margin: 20px 0 0;
    padding: 0;
    align-items: flex-end;
    margin-bottom: -1px;
}

.buddy-list .tabs li{
    margin: 0;
    padding: 5px 10px;
    border: 1px solid #666;
    border-radius: 2px;
    border-top-left-radius: 8px;
    background: #ecead6;
}

.buddy-list .tabs li.active-tab {
    padding: 7px 10px;
    border-bottom: none;
}

.buddies {
    padding: 8px;
    border: 1px solid #666;
}

.buddies .online, .buddies .offline {
    display: none;
    background: #fff;
    min-height: 300px;
    border: 1px solid #666;
}

.online.active, .offline.active {
    display: block;
}

.drilldown {
    display: inline-block;
    transition: transform 0.35s; 
    margin-right: 5px;
}

.drilldown.drilldown-open {
    transform: rotate(90deg);
}

.buddy-list-members {
    display: none;
    padding-left: 15px;
}

/***********
CHAT WINDOW
***********/

.chat-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 400px;
    width: 100%;
    max-width: 450px;
    background: #ecead6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 3px solid #1160eb;
    z-index: 95;
}

.chat-contents{
    padding: 6px;
}

.chat-screen {
    background: white;
    overflow: auto;
    width: 100%;
    height: 220px;
}

.chat-buttons img {
    max-height: 40px;
}

.chat-screen p {
    margin: 2.5px;
}

.friend, .me {
    font-weight: 800;
}

.chat-screen .friend {
    color: #2a2ac6;
}

.chat-screen .me {
    color: #a82121;
}