body {
    min-height: 115vh;
}

#primary {
    width: 90%;
    max-width: 400px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: auto;
    border: 3px solid #1160eb;
    margin-top: 5%;
    background: #ece9d6;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    max-width: 450px;
    height: auto;
    min-height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 3px solid #1160eb;
    background: #ece9d6;
    z-index: 99;
}

.alert-button {
    padding: 2% 4%;
    margin: auto;
    font-size: 1.25em;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

#modal-image {
    width: 33%;
    margin-top: 5%;
    padding: 15px;
}

#modal-text {
    margin-top: 6%;
    padding: 15px;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 800;
}

.blue {
    color: #0e378e;
}

.blue-background {
    background: #0e378e;
}

.light-blue-background {
    background: #1160eb;
}

#login-graphic {
    /* width: 95%; */
    position: relative;
    margin: auto;
    margin-top: 2.5%;
    padding: 20px;
}

#login-graphic img {
    width: auto;
    display: block;
    margin: auto
}

.aim-header {
    display: flex;
    justify-content: flex-start;
    padding: 5px 15px;
    align-items: flex-end;
}

.aim-header img {
    max-height: 25px;
}

.aim-header h3 {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 20px!important;
    margin-left: 5px;
    line-height: 1;
}

#aim-body {
    padding: 3px 3% 2%;
}

hr {
    max-width: 95%;
    margin: 10px auto;
}

.bottom-section {
    padding: 0 2% 1%;
}

input[type="text"], input[type="password"] {
    width: 100%;
}

label {
    margin-top: 5px;
}

.center {
    text-align: center;
}

#version {
    margin-bottom: 5px;
}

.buttons {
    margin-top: 20px;
}

.buttons img {
    max-height: 40px;
    display: block;
    margin: auto;
}

.buttons p {
    margin: 0;
    text-align: center;
}

.underline {
    text-decoration: underline;
}